body {
    background-color: #1b1b1b;
}

.masonry-wrapper {
    padding: 1.5em;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.masonry {
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: 0;
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}

@media only screen and (min-width: 1024px) {
    .masonry {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}

.masonry-item,
.masonry-content {
    border-radius: 4px;
    overflow: hidden;
}

.masonry-item {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
    transition: filter .25s ease-in-out;
}

.masonry-item:hover {
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
}

.masonry-footer {
    font-size: .75em;
    opacity: .25;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-bottom: -1.5em;
    transition: opacity 1s ease-in-out;
}

.masonry-footer a {
    color: currentColor;
}

.masonry-footer:hover,
.masonry-footer:active,
.masonry-footer:focus {
    opacity: .75;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    height: 100px;
    margin: auto;
    padding: 10px;
}

.icon {
    width: 100px;
    height: 100px;
    background-image: url("/assets/images/icon-100.png");
    float: left;
}

.words {
    margin-left: 130px;
    height: 100px;
}

header h1 {
    margin: 0 0 0 0 !important;
}

header h1:before {
    content: "" !important;
    font-size: 0px !important;
}

.youtube-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.youtube-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.devlog-wrapper {
    position: relative;
    width: 100%;
    height: 1200;
    padding-bottom: 100%;
}

.devlog-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media (max-width: 767px) {                  
    .description {
       display: none;
    }
 }